<h1>Login</h1>
<%= form_with model: @client, local: true do |f| %>
  
    <%= f.label :client_email %>
    <%= f.text_field :client_email %><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br>

    <%= f.submit %>
<% end %>