<h1>Login</h1>
<%= form_with model: @client do |f| %>
  
    <%= f.label :client_email %>
    <%= f.text_field :client_email %><br>

    <%= f.label :password %>
    <%= f.text_field :password_digest %><br>

    <%= f.submit %>
<% end %>