<h1>Sign up</h1>
<%= form_with model: @client, local: true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :client_email %>
    <%= f.email_field :client_email %><br>

    <%= f.label :age %>
    <%= f.text_field :age %><br>

    <%= f.label :height %>
    <%= f.text_field :height %><br>

    <%= f.label :weight %>
    <%= f.text_field :weight %><br>

    <%= f.label :goal %>
    <%= f.text_area :goal %><br>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit %>
<% end %>
