<h1>Sign up form</h1>
<%= form_with model: @client do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :client_email %>
    <%= f.text_field :client_email %><br>

    <%= f.label :age %>
    <%= f.text_field :age %><br>

    <%= f.label :height %>
    <%= f.text_field :height %><br>

    <%= f.label :weight %>
    <%= f.text_field :weight %><br>

    <%= f.label :goal %>
    <%= f.text_area :goal %><br>

    <%= f.label :password %>
    <%= f.text_field :password_digest %><br>

    <%= f.submit %>
<% end %>
