<!DOCTYPE html>
<html>
  <head>
    <title>PhysicalTrainerApptScheduler</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="app/assests/stylesheets/grid.css">
    <link rel="stylesheet" type="text/css" href="app/assests/stylesheets/normalize.css">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
    <button class="logout-btn"><%= link_to("Logout", logout_path, method: :delete) %></button>
    </footer>
  </body>
</html>
